*{
   
    margin: 0;
    padding: 0;
}
body{
    background-color: lightpink;
    font-family: 'Open Sans', sans-serif;
}
#logo{
    width: 200px;
    height: 160px;
    margin-left: 50px;
    border-radius: 30px; 
    border: 2px solid white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

ul{
  
    display: flex;
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: brown;
}
ul li{
   
   border: 1px solid white;
    background-color:lightcoral;
   padding: 20px;
    font-size: 25px;
    margin: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
ul li:hover {
    background-color:white;
    font-weight: bold;
    border: 3px solid #9370db;
}
    .maini {
        display: flex;
        flex-direction: column; 
        align-items:stretch; 
    }

#div1 h1{
    text-align: center;
    font-style: italic;
    color: purple;
    font-size: 50px;
    background-color: lightpink; 
    border: 2px solid white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.0); 
    transition: all 0.3s ease; 
    letter-spacing: 3px; 
    word-spacing: 15px;
}

#div2{
    display: inline;
    width: 50%;
}
#div2 img{
    height: 500px;
    width: 100%;
}

#div3 {
    background: url('IMAGES/images (1).jpg')center center ;
    background-size: cover;
    position: absolute;
    top: 270px;
    left: 50%;
    width: 50%;
    height: 500px;
}
#div3 h2{
    text-align: right;
    margin-right: 180px;
    margin-top: 130px;
    font-size: 60px;
    word-spacing: 20px;
    line-height: 1.8;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:purple;
    letter-spacing: 3px; 
  
   
}
#div3 p{
    list-style: none;
    border: 7px solid purple;
    background-color: plum;
   padding: 15px;
    font-size: 35px;
    margin: 50px;
    text-align: center;
    border-radius: 30% 30% / 80% 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.0); 
    transition: all 0.3s ease; 
   
   
}
#div3 p a{
    text-decoration: none;
}
#div3 p:hover {
    background-color: white;
    font-weight: bold;
    border: 5px solid plum;
  
}

.footeri{
display: flex;
justify-content: space-around;
background-image: url("IMAGES/800px_COLOURBOX24604092.jpg");
background-size:contain;
padding: 1%;
flex-direction: column; 


}
#div4 p{
    font-size: 30px;
    font-style: italic;
   color: purple;
   margin-left: 30px;  
   
}
#div5{

    display: flex;
    flex-direction: row;
    margin-left: 30px;

}
#div5 p{
   font-size:smaller ;
   color:purple ;
   
}
 img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#div6 p{
    text-align: right;
    color:purple;
    margin-right: 50px;
}
#div6 p span{
    font-size: 30px;
}
/*RESPONSIVE DESIGN*/
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
 }
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
}
@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
}
@media (min-width: 760px){
    .container{
        max-width: 760px;
    }
}
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}
#logo {
    margin-left: 10px;
    width: 180px;
    height: 150px;
}
header {
  
    padding: 20px;
}

ul li{
   
        
        padding: 20px;
         font-size: 20px;
         margin: 5px;
   
     
     
   
}


#div4 p{
    font-size: 20px;
   margin-left: 20px;  
   
}
 img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
#div5{
    margin-left: 20px;

}

#div6 p{
    margin-right: 10px;
}
#div6 p span{
    font-size: 20px;
}

   




   

