*{
   
    margin: 0;
    padding: 0;
}
body{
    background-color: lightpink;
    font-family: 'Open Sans', sans-serif;
}
#logo{
    width: 250px;
    height: 180px;
    margin-left: 50px;
    border-radius: 30px; 
    border: 2px solid white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

ul{
  
    display: flex;
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: #9370db;
}
ul li{
   
   border: 1px solid white;
    background-color:plum;
   padding: 20px;
    font-size: 25px;
    margin: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
ul li:hover {
    background-color:white;
    font-weight: bold;
    border: 3px solid #9370db;
}


    .maini {
        display: flex;
        flex-direction: column; 
        align-items:stretch; 
    }

#div1 h1{
    text-align: center;
    font-style: italic;
    color: purple;
    font-size: 50px;
    background-color: lightpink; 
    border: 2px solid white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.0); 
    transition: all 0.3s ease; 
    letter-spacing: 3px; 
    word-spacing: 15px;
}

#div2{
    display: inline;
    width: 50%;
}
#div2 img{
    height: 500px;
    width: 100%;
}

#div3 {
    background: url("images (1).jpg") center center;
    background-size: cover;
    position: absolute;
    top: 290px;
    left: 50%;
    width: 50%;
    height: 500px;
}
#div3 h2{
    text-align: right;
    margin-right: 180px;
    margin-top: 130px;
    font-size: 60px;
    word-spacing: 20px;
    line-height: 1.8;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:purple;
    letter-spacing: 3px; 
  
   
}
#div3 p{
    list-style: none;
    border: 7px solid purple;
    background-color: plum;
   padding: 15px;
    font-size: 35px;
    margin: 50px;
    text-align: center;
    border-radius: 30% 30% / 80% 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.0); 
    transition: all 0.3s ease; 
   
   
}
#div3 p a{
    text-decoration: none;
}
#div3 p:hover {
    background-color: white;
    font-weight: bold;
    border: 5px solid plum;
  
}

   

